.item
  .info
    .image
      %a{:href => "#"}
        %img{:src => "images/image-4.png"}
    %a.title{:href => "#"} SAMSUNG GALAXY CORE PRIME G360 8GB 4G LTE 
    %p.description Crazy Deals
    %p.price AED 499.00
.item
  .info
    .image
      %a{:href => "#"}
        %img{:src => "images/image-1.png"}
    %a.title{:href => "#"} SAMSUNG GALAXY S6 - 32GB, 4G LTE, BLACK
    %p.description Souq
    %p.price AED 1999.00
.item
  .info 
    .image
      %a{:href => "#"}
        %img{:src => "images/image-2.png"}
    %a.title{:href => "#"} SAMSUNG GALAXY ALPHA G850F - 32GB, 4G LTE, BLACK
    %p.description Souq
    %p.price AED 1098.99
.item
  .info 
    .image
      %a{:href => "#"}
        %img{:src => "images/image-3.png"}
    %a.title{:href => "#"} SAMSUNG GALAXY NOTE II N7100 16GB BLUE
    %p.description Crazy Deals
    %p.price AED 1099.00