<!-- @include _head -->
.main
  %p.main-title slidesToScroll: 4
  .container
    .left  
      %p.title Products You May Like
    .right 
      %p Sponsored Products by
      %img{:src => "images/tree.png"}
    .gallery
      <!-- @include _items -->
      <!-- @include _items -->
      <!-- @include _items -->
      <!-- @include _items -->
      <!-- @include _items -->


  %p.main-title slidesToScroll: 2     
  .container
    .left  
      %p.title Products You May Like
    .right 
      %p Sponsored Products by
      %img{:src => "images/tree.png"}
    .gallery-2
      <!-- @include _items -->
      <!-- @include _items -->
      <!-- @include _items -->
      <!-- @include _items -->
      <!-- @include _items -->
    

  
    
<!-- @include _footer -->


